[submodule "openfeed-protocol"]
	path = openfeed-protocol
	url = ssh://git@github.com/openfeed-project/openfeed-archon.git
[submodule "openfeed-archon"]
	path = openfeed-archon
	url = git@github.com:openfeed-project/openfeed-archon.git
