
[submodule "openfeed-archon"]
	path = _openfeed-archon_
	url = git@github.com:openfeed-project/openfeed-archon.git
	
[submodule "openfeed-protocol"]
	path = _openfeed-protocol_
	url = git@github.com:openfeed-project/openfeed-protocol.git

